/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f5f1eb;
  color: #2b2b2b;
  line-height: 1.6;
  overflow-x: hidden;
}

/* Colores globales */
:root {
  --color-principal: #b88a63;
  --color-texto: #333;
  --color-fondo-suave: #fdfaf6;
}

#root {
  width: 100%;
  overflow-x: hidden;
}


